<header>
  <nav class="main-nav">
    <a routerLink="/home" class="nav-link" routerLinkActive="active" aria-current="page">ACCUEIL</a>
    <a routerLink="/map" class="nav-link" routerLinkActive="active">CARTE</a>
    <a routerLink="/ranking" class="nav-link" routerLinkActive="active">CLASSEMENT</a>
    <a routerLink="/items" class="nav-link" routerLinkActive="active">ITEMS</a>
    <a routerLink="/drop" class="nav-link" routerLinkActive="active">DROP</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>