/* Container principal pour la page d'accueil */
.home-page-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    line-height: 1.6;
    font-size: 1rem;
  }
  
  /* Styles pour la section d'introduction */
  .home-intro h1 {
    font-size: 2.5em;
    color: #333;
  }
  
  .home-intro p {
    font-size: 1.2em;
    color: #444;
  }
  
  /* Sections principales */
  .home-features, .home-benefits, .home-guide {
    margin-top: 20px;
  }
  
  /* Titres de sections */
  .home-features h2, .home-benefits h2, .home-guide h2 {
    font-size: 2em;
    color: #222;
    margin-bottom: 10px;
  }
  
  /* Éléments interactifs */
  .home-feature, .home-benefits ul li {
    margin-top: 10px;
    padding: 10px 0;
    font-size: 1.1em;
  }
  
  .home-feature h3 {
    font-size: 1.5em;
    color: #555;
  }
  
  /* Style de liste pour les avantages */
  .home-benefits ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  .home-benefits ul li {
    margin: 5px 0;
  }
  
  /* Liens dans la section guide */
  .home-guide a {
    color: #007acc;
    text-decoration: none;
  }
  
  .home-guide a:hover, .home-guide a:focus {
    text-decoration: underline;
  }
  
  /* Style pour les boutons */
  .home-guide button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007acc;
    color: white;
  }
  
  .home-guide button:hover, .home-guide button:focus {
    background-color: #005f99;
  }
  